*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

h1{
    font-size: 40px;
    color: rgb(255, 166, 0);
}

#cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background-color: #1e1e1e;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}

.card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.card h3{
    margin-top: 20px;
    color: rgb(117, 111, 111);
}

.card p{
    margin: 8px 0;
    font-size: 16px;
}

button{
    background-color: rgb(252, 250, 248);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

button:hover{
    background-color: rgb(0, 0, 0);
}

@media(max-width: 700px){

    .card{
        width: 100%;
    }

}